<!DOCTYPE html>
<html>

<head>
  <title>Trang đăng kí</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 400px;
      margin: 100px auto;
      background-color: #ffffff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .container h2 {
      text-align: center;
      margin-bottom: 20px;
    }

    .form-group {
      margin-bottom: 20px;
    }

    .form-group label {
      font-weight: bold;
      display: block;
      margin-bottom: 5px;
    }

    .form-group input {
      width: 100%;
      padding: 10px;
      border-radius: 3px;
      border: 1px solid #ccc;
      margin-top: 5px;
      box-sizing: border-box;
    }

    .form-group .button {
      background-color: #0080ff;
      color: #ffffff;
      padding: 10px 20px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      font-size: 16px;
      width: 100%;
    }

    .form-group .button:hover {
      background-color: #0059b3;
    }
  </style>
</head>

<body>
  <div class="container">
    <h2>Đăng kí</h2>
    <form action="/api/v1/users/register" method="POST">
      <div class="form-group">
        <label for="name">Họ và tên:</label>
        <input type="text" name="name" placeholder="Nhập họ và tên" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" name="email" placeholder="Nhập email" required>
      </div>
      <div class="form-group">
        <label for="password">Mật khẩu:</label>
        <input type="password" name="password" placeholder="Nhập mật khẩu" required>
      </div>
      <div class="form-group">
        <label for="phone">Số điện thoại:</label>
        <input type="text" name="phone" placeholder="Nhập sdt" required>
      </div>
      <div class="form-group">
        <input type="submit" class="button" value="Đăng kí">
      </div>
    </form>
  </div>

</html>