<!DOCTYPE html>
<html>

<head>
    <title>Thành công</title>
</head>

<body>
    <script>
        alert("<%=message%>");
        // Sau khi hiển thị alert, chuyển hướng người dùng đến trang chủ
        window.location.href = '/';
    </script>
</body>

</html>