<!-- HEADER -->
<style>
    #languageSelect {
        background-color: black;
        color: white;
    }
</style>
<header>
    <!-- TOP HEADER -->
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-left">
                <li><a href="#"><i class="fa fa-phone"></i> +035-966-9399</a></li>
                <li><a href="#"><i class="fa fa-envelope-o"></i> nguyenvanthai@gmail.com</a></li>
                <li><a href="#"><i class="fa fa-map-marker"></i> 255 Nguyễn Văn Trỗi </a></li>

                <script>
                    function changeLanguage(language) {
                        const url = `/change-language/${language}`;
                        window.location.href = url;
                    }
                </script>
                </body>

                </html>
            </ul>
            <ul class="header-links pull-right">
                <li><a href="#"><i class="fa fa-money"></i> VND</a></li>
                <% if (isLoggedIn) { %>
                    <li><a href="#"><i class="fa fa-user-o"></i>
                            <%= __("hello") %> :<%=user.name%>
                        </a></li>
                    <%}%>
                        <li><a href="/api/v1/users/login"><i class="fa fa-sign-in"></i>
                                <%= __("Login") %>
                            </a></li>
                        <% if (isLoggedIn) { %>
                            <li><a href="/api/v1/users/logout"><i class="fa fa-sign-out"></i>
                                    <%= __("Logout") %>
                                </a>
                            </li>
                            <%}%>
            </ul>
        </div>
    </div>
    <!-- /TOP HEADER -->